html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

body {
  font-family: $font-family;
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  margin: 0;
  color: $text-color;
}

.sotial-list {
  display: flex;
  gap: 20px;
}

.buttons-book {
  background-color: $text-color;
  color: $white;
  font-size: 32px;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
}