.header {
  background-image: url(../img/bg.webp);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 30px;

  .title-img {
    margin-bottom: 18px;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  &__top {
    padding: 50px 0 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }

  .menu {
    &__list {
      display: flex;
      color: $accent-color;
      gap: 41px;
    }

    &__item {
      letter-spacing: 0;
    }

    &__btn {
      display: none;
      width: 50px;
      height: 30px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0;
      position: relative;
      z-index: 1;
    }

    &__btn span {
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      transition: background-color .3s;
    }
  }

  .menu.menu--open .menu__list {
    transform: translateY(0);
  }

  .menu.menu--open .menu__btn span {
    background-color: #fff;
  }


  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $accent-color;
    padding: 10px 20px;
    border-radius: 30px;
    color: $white;
  }

  .title-text {
    color: $white;
    font-size: 20px;
    border-radius: 30px;
    background-color: $text-color;
    padding: 10px 20px;
    display: inline-block;
    // position: relative;
    // right: 2px;
    // bottom: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 118px;
    margin-top: auto;

    &-list {
      display: flex;
      gap: 18px 10px;
      flex-wrap: wrap;
      max-width: 486px;
    }

    &-item {
      padding: 10px 20px;
      color: $accent-color;
      border-radius: 30px;
      border: 1px solid $accent-color;
      font-size: 26px;
      font-weight: 700;
    }
  }



  &__sotial {
    margin-top: auto;
  }

  &__news {
    margin-top: -50px;

    &-box {
      display: flex;
      flex-direction: column;
      padding: 50px 20px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      margin-bottom: 103px;

    }

    &-title,
    &-time {
      font-size: 32px;
      font-weight: 800;
      text-transform: uppercase;
    }

    &-time {
      margin-bottom: 10px;
    }


    &-link {
      text-transform: uppercase;
      font-weight: 800;
      text-decoration: underline;
      margin-bottom: 30px;
      align-self: flex-start;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;


    &-activities {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid $text-color;
      color: $text-color;
      font-size: 32px;
      font-weight: 800;
      padding: 10px 20px;
      border-radius: 30px;
      text-transform: uppercase;
    }
  }
}