@media (max-width: 1440px) {
  .header {
    background-position: bottom;
  }

  .about {
    &__inner {
      margin-bottom: 50px;
    }

    &__title {
      font-size: 50px;
      margin: 0 0 30px;
    }

    &__list {
      margin: 0 10px 25px 0;
      width: 100%;
    }

    &__text {
      margin: 0 10px;
    }

    &__img {
      flex-basis: 50%;

      img {
        width: 100%;
      }
    }
  }

  .text {
    margin-left: 10px;
  }


  .reviews {
    &__top {
      margin-left: 0;
      margin-bottom: 50px;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item:nth-child(even) {
      padding-top: 0px;
    }

    &__img {
      width: 100%;
    }
  }

  .blockquote {
    &__text {
      margin-bottom: 10px;
      max-width: 100%;
    }

    &__cite {
      text-align: left;
    }

    &__right {
      text-align: left;
      bottom: 0px;
    }
  }
}


@media (max-width:1150px) {

  .about {
    &__content {
      max-width: 100%;
    }

    &__inner {
      flex-direction: column;
    }

    &__title {
      margin: 0 0 15px;
    }

    &__list {
      margin-bottom: 10px;

      &-item {
        font-size: 26px;
        padding: 10px 20px;
      }
    }

    &__text {
      margin-bottom: 10px;
    }

    &__link {
      font-size: 28px;
    }

    &__img {
      text-align: center;
    }
  }

  .footer {
    &__title {
      font-size: 45px;
    }
  }
}



@media (max-width: 992px) {
  .header {
    &__top {
      padding: 10px 0 40px;
    }

    .menu {
      &__btn {
        display: flex;
      }

      &__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color:  #0A507A;
        color: #fff; 
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
        font-size: 24px;
        transform: translatey(-100%);
        transition: transform .3s;
      }
    }
    
    &__buttons {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;

      &-activities {
        font-size: 28px;
        font-weight: 800;
        padding: 10px 20px;
        border-radius: 30px;
        text-transform: uppercase;
      }
    }

    &__content {
      flex-direction: column;

    }

    &__news {
      margin-top: 0px;
      order: -1;

      &-box {
        margin-bottom: 17px;
      }
    }

    &__info {
      gap: 50px;

      &-list {
        max-width: 100%;
      }

      &-item {
        font-size: 20px
      }
    }


    .buttons-book {
      font-size: 28px;
    }

  }

  .text {
    font-size: 30px;
    padding: 75px 10px;
    margin: 0;
  }




  .about {
    &__title {
      margin: 0 0 5px;
    }

    &__list {

      &-item {
        font-size: 20px;
      }
    }

    &__link {
      font-size: 28px;
    }

    &__img {
      text-align: center;
    }
  }

  .activities {
    margin-bottom: 30px;

    &__title {
      font-size: 50px;
    }

    &__info {
      flex-direction: column;
      margin-bottom: 50px;
    }

    .buttons-book {
      font-size: 28px;
      padding: 10px 20px;
    }

    &__item {

      >h5 {
        font-size: 20px;
      }
    }
  }

  .site-images {
    margin-bottom: 30px;
  }

  .reviews {
    margin-bottom: 30px;

    &__title {
      font-size: 50px;
    }
  }

  .footer {
    padding: 75px 0;

    &__info-list {
      position: static;
      gap: 20px;
    }

    &__info-item {
      >dt {
        font-size: 15px;
      }
    }

    &__bottom {
      flex-wrap: wrap;
    }
  }
}


@media (max-width: 480px) {
  .header {
    &__news {
      &-title, &-time  {
        font-size: 20px;
      }
    }

    &__buttons {
      flex-wrap: wrap;

      &-activities {
        font-size: 20px;
      }
    }

    .buttons-book {
      font-size: 20px;
    }

  }

  .sotial-list {
    display: none;
  }

  .text {
    font-size: 30px;
  }

  .about {

    &__title {
      font-size: 30px;
    }

    &__list {

      &-item {
        padding: 5px 10px;
        font-size: 20px;
      }
    }

    &__text {
      margin: 0 0 10px;
    }

    &__img {
      display: none;
    }

    &__link-black {
      display: flex;
      background-color: $text-color;
      color: $white;
      font-size: 20px;
      font-weight: 800;
      padding: 10px 20px;
      border-radius: 30px;
      text-transform: uppercase;
      align-self: self-start;
    }
  }

  .activities {
    margin-bottom: 20px;

    &__title {
      font-size: 30px;
    }

    &__info {
      flex-direction: column;
      margin-bottom: 10px;
    }

    .buttons-book {
      font-size: 20px;
      padding: 10px 20px;
    }

    &__item {

      >h5 {
        font-size: 15px;
      }
    }
  }

  .site-images {
    margin-bottom: 50px;
  }

  .reviews {
    margin-bottom: 30px;

    &__title {
      font-size: 30px;
    }
  }

  .footer {
    padding: 30px 0 30px;

    &__top {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }

    &__title {
      order: 1;
      text-align: center;
      font-size: 30px;
    }

    &__info-list {
      flex-wrap: wrap;
    }

    &__info-item {
      gap: 8px;
    }
  }
}



@media (max-width: 340px) {
  .header {
    &__phone {
      font-size: 15px;
      padding: 5px 15px;
    }

    .title-text {
      font-size: 15px;
      padding: 5px 15px;
    }

    &__buttons {
      justify-content: center;

      &-activities {
        font-size: 15px;
        padding: 5px 15px;
      }
    }

    .buttons-book {
      padding: 5px 15px;
      font-size: 15px;
    }

    &__info {
      gap: 20px;

      &-list {
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
      }

      &-item {
        padding: 5px;
        text-align: center;
        font-size: 15px
      }
    }
  }


  .sotial-list {
    display: none;
  }

  .text {
    font-size: 20px;
    padding: 20px 0 20px 10px;
  }

  .about {
    &__inner {
      margin-bottom: 20px;
    }

    &__subtitle {
      font-size: 15px;
    }

    &__title {
      font-size: 25px;
    }

    &__list {
      margin-bottom: 10px;
      gap: 15px;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;

      &-item {
        text-align: center;
        padding: 5px 10px;
        font-size: 15px;
      }
    }

    &__link-black {
      font-size: 15px;
      padding: 5px 15px;

    }
  }

  .activities {
    &__subtitle {
      font-size: 15px;
    }

    &__title {
      font-size: 25px;
    }

    .buttons-book {
      font-size: 15px;
      padding: 5px 15px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }

    &__item {
      border-radius: 30px;
      aspect-ratio: 0;
      padding: 5px 10px;
    }

  }

  .reviews {
    margin-bottom: 20px;

    &__top {
      margin-bottom: 15px;
    }

    &__subtitle {
      font-size: 15px;
      margin: 0 0 10px;
    }

    &__title {
      font-size: 25px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}