.activities {
    margin-bottom: 100px;
		&__info {
            display: flex;
            gap: 20px;
            margin-bottom: 100px;
        }
        &__subtitle{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
		&__title {
            font-size: 64px;
            font-weight: 800;
            text-transform: uppercase;
            flex-basis: 50%;
        }
		&__text {
            padding: 12px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            flex-basis: 50%;
        }
		&__list {
         display: grid;
         grid-template-columns: repeat(5, 1fr);   
        }
		&__item {
            border: 1px solid $text-color;
            border-radius: 50%;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;

            >h5{
                font-size: 26px;
                font-weight: 700;
                max-width: 115px;
                text-align: center;
            }
        }
}

.activities__text .buttons-book {
    align-self: self-start;
}
.site-images{
    width: 100%;
    margin-bottom: 150px;
}