.text{
    max-width: 1075px;
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 150px 0;
    margin-left: 100px;
}

.about {
    margin-bottom: 150px;
		&__inner {
            display: flex;
            justify-content: space-between;
        }
		&__content {
            max-width: 560px;
        }
		&__subtitle {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }
		&__title {
            font-size: 64px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 102px;
        }
		&__list {
            display: flex;
            flex-wrap: wrap;
            gap: 11px;
            margin-bottom: 256px;
        }
		&__list-item {
            font-size: 26px;
            font-weight: 700;
            border: 1px solid $accent-color;
            color: $accent-color;
            border-radius: 30px;
            padding: 9px 19px;
        }
		&__text {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__img{
            position: relative;
        }
        &__link{
            position: absolute;
            right: 68px;
            bottom: 50px;
            font-size: 32px;
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px solid $white;
            color: $white;
            font-weight: 800;
            border-radius: 30px;
            padding: 10px 20px;
            text-transform: uppercase;
        }
        &__link-black{
            display: none;
        }
}

