body {
    font-family: "Rethink Sans", sans-serif;
    margin: 0 auto;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.content {
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 100px;
}

span {
    font-size: 50px;
}

p {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #2B2A29;
    color: #2B2A29;
    font-size: 32px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
}